header{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    flex-wrap: wrap;
    
}

img{
    height: 50px;
    width: 50px;
}
.logo{
    width: 60%;
}
nav{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

}
a{
    text-decoration: none;
    color: blueviolet;
}
.card1>img{

    width :150px ;
    height: 150px;
    padding: 15px;
}
.card1{display:flex;
    border: 1px solid black;
    width: 30%;
    
    justify-content: space-between;
    align-content: space-between;
    margin: 10px 20px 10px 1px;
    background-color: bisque;
        flex-grow: 1;

    
}
.body{
    display: flex;
    flex-wrap: wrap;
}
button{
    background-color: black;
    border-radius: 10px;
    color: aliceblue;
}
footer{
    display: flex;
    justify-content: space-between;

flex-wrap: wrap;
}

.part{
    width:20%;
    border: 1px solid black;
    margin-right: 5px;
    flex-grow: 1;
}
@media (max-width:768px){
    .card1{
        width: 40%;
    }
    .part{
        width: 40%; 
        
    }
    

}
@media (max-width:428px){
    .card1{
        width: 60%;
    }
    .part{
        width: 60%;
    }

    header{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    
    }
    .logo{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 130px;
        margin-bottom: 10px;
    }
}
