<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .header{
        background-color: rgb(109, 101, 113);
         display: flex; 
         align-items: center;
         justify-content: space-between;
    }
    .navbar{
        
         display: flex; 
         align-items: center;
         justify-content: space-between;
         width: 60%;
    }

.logo{
    width: 40%;
}
*{
    margin: 0%;
    padding: 0%;
}
a{
    color: aliceblue;
}
    
    
    </style>
</head>

<body>
    <header class="header"> 
        <div class="logo">
        <img src="https://www.achieversit.com/assets/images/logo-white.png" alt="achievers it" height="80px" >
    </div>
     
        <nav class="navbar">
             
                <a href="#">home</a>
                <a href="#">all courses</a>
                <a href="#">placements</a>
                <a href="#">internship</a>
                <a href="#">about</a>
            
        </nav>
    
    </header>
</body>

</html>